body {font-family: "Roboto", sans-serif;
    background-color: #ffffff;
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

section {padding: 96px 0;}
@media screen and (min-width:1158px) {
    section {
            padding: 120px 0;
        }
}

.container {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0px 16px;
    outline: 1px solid #404BBF;
    }
@media screen and (min-width:768px){
    .container {
        width: 100%;
        max-width: 768px;
    }
}
@media screen and (min-width:1158px) {
    .container {
        width: 100%;
        max-width: 1158px;
        padding: 0 15px;}
    }
  

h1, h2, h3, p {margin: 0;}

ul {margin: 0;
    padding-left: 0;
    list-style-type: none;}

img {display: block;
    max-width: 100%;}

a {text-decoration: none;
}

input {font-family: inherit;
color: currentColor;
display: block;}

button {cursor: pointer;}

.hide {display: none;}

/* #region header */

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    }
   
.nav {
    display: flex;
    align-items: center;
    }
@media screen and (min-width:768px) {
    .nav {justify-content: space-between;}
   }

.logo {font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 16px 0;
}
.logo-span {color: #2e2f42;}

.btn-burger-menu {display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
    margin-left: auto;
}
.burger-menu-icon {
    fill: #2e2f37;}


.list-inline {display: none;
    gap: 40px;}

@media screen and (min-width:768px) {
    .list-inline {display: flex;
    gap: 40px;}

   .btn-burger-menu {display: none;}
}
    
.link {
    color: #2e2f42;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;}

.link:hover,
.link:focus {color: #404bbf;
}

.current {
    position: relative;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
    }

.addres-list-inline {display: none;
    font-style: normal;
    }
@media screen and (min-width:768px) {
   .addres-list-inline { display: flex;
    flex-direction: column;
    gap: 12px;}
}
@media screen and (min-width:1158px){
    .addres-list-inline {
        flex-direction: row;
        gap: 40px;
    }
}

.address-link {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.address-link:hover,
.address-link:focus {
    color: #404bbf;
}

/* #endregion header */

/* #region title */

.title {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/mob_hero_image.jpg);
    width: 100%;
    padding: 72px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
@media screen and (max-width:767px) and (min-resolution: 192dpi) {
    .title {background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/mob_hero_image@2x.jpg);}
}

@media screen and (min-width:768px){
    .title {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero/tab_hero_image.jpg);}
    @media screen and (min-resolution: 192dpi) {
        .title {                        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/tab_hero_image@2x.jpg);
        }
    }
}

@media screen and (min-width:1158px) {
    .title {
        padding: 112px 0;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/hero/desc_hero_image.jpg);
    }
    @media screen and (min-resolution: 192dpi) {
        .title {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/hero/desc_hero_image@2x.jpg);
        }
    }
}

.title-text {
    color: #ffffff;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 72px;
    max-width: 216px;
    }
@media screen and (min-width:768px) {
    .title-text {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin-bottom: 36px;}
}
@media screen and (min-width:1158px) {
    .title-text {
        margin-bottom: 48px;
    }
}

.button {font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    display: block;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus, .button:active        {background-color: #404bbf;}
/* #endregion title */

/* #region feature */

.feature {padding: 96px 0;}

.feature h2 {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature-list {display: flex;
flex-direction: column;
gap: 72px;
}
@media screen and (min-width:768px) {
    .feature-list {flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
    flex-wrap: wrap;}
}
@media screen and (min-width:1158px) {
    .feature-list {
    flex-direction: row;
    gap: 24px;}
}

.feature-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
@media screen and (min-width:768px) {
.feature-items {max-width: calc((100% - 24px) / 2);}
}
@media screen and (min-width:1158px) {
    .feature-items {
        max-width: calc((100% - (24px*3)) / 4);
    }
}


.feature-icon {
    display: none;
}
@media screen and (min-width:1158px) {
    .feature-icon {display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background-color: #F4F4FD;
    margin-bottom: 8px;}
}

.feature-subtitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;}
@media screen and (min-width:1158px) {
    .feature-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
    margin-bottom: 8px;}
}

.feature-text {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}
/* #endregion feature */

/* #region team */

.team {background-color: #f4f4fd;}

.team .container {
    padding-left: 28px;
    padding-right: 28px;}
@media screen and (min-width:768px) {
    .team .container {padding: 0px 16px;}
}
@media screen and (min-width:1158px) {
    .team .container {
        padding: 0px 15px;
    }}

.section-title {
    color: #2e2f42;
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.02em;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.team-list {display: flex;
    justify-content: center;
flex-wrap: wrap;
gap: 72px;}
@media screen and (min-width:768px) {
    .team-list {
        flex-direction: row;
        column-gap: 24px;
        row-gap: 64px;
        flex-wrap: wrap;
    }
}
@media screen and (min-width:1158px) {
    .team-list {
        gap: 24px;
           }
}

.team-items { max-width: 264px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;}
@media screen and (min-width:768px){
    .team-items {max-width: 264px;}
}
@media screen and (min-width:1158px) {
    .team-items {
        max-width: calc((100% - (24px * 3)) / 4);
    }
}

.team-descr {
    text-align: center;
    padding: 32px 0;
}

.section-prof {color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.icon-social {display: flex;
    justify-content: center;
    gap: 24px;    
}

.link-social-items {
    width: 40px;
    height: 40px;
}

.link-social-icon {display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-social-icon:hover,
.link-social-icon:focus {background-color: #404bbf;}

.icon {fill: #f4f4fd;}

/* #endregion team */

/* #region portfolio */

.portfolio-ul {display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 48px;
}
@media screen and (min-width:768px) {
    .portfolio-ul {gap: 72px 24px;}
}
@media screen and (min-width:1158px) {
    .portfolio-ul {gap: 40px 24px;}
}

.portfolio-items {width: 100%;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.portfolio-items:hover,
.portfolio-items:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}
@media screen and (min-width:768px) {
    .portfolio-items {
        width: calc((100% - 24px) / 2);
    }
}
@media screen and (min-width:1158px) {
    .portfolio-items {
        width: calc((100% - (24px * 2)) / 3);
    }
}


.portfolio-img {
    position: relative;
    overflow: hidden;
}

.portfolio-items:hover .decor{
    transform: translateY(0%);
}

.decor {position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    letter-spacing: 0.02em;
    color: #f4f4fd;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4d5ae5;
    padding: 40px 32px;
}

.portfolio-descr {padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    color: #fff;
    }

.section-list-title {
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    }
 
.section-p {
    color: #434455;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    }
   
/* #endregion portfolio */
    
/* #region footer */

.footer {
    background-color: #2e2f42;
    padding: 96px 0;
}

.footer-inline {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
}
@media screen and (min-width:768px) and (max-width:1158px)  {
    .footer{padding: 0}
    .footer-inline {padding: 96px 108px;
    gap: 72px 24px;
    }
}
@media screen and (min-width:1158px) {
    .footer-inline {gap: 0;}
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    color: #4d5ae5;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    }
@media screen and (min-width:768px) {
.footer-logo {justify-content: flex-start;}
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    max-width: 264px;
}
@media screen and (min-width:1158px) {
    .footer-text {
        margin-right: 120px;
    }
}

.footer-social {
    margin: 0 auto;
}
@media screen and (min-width:768px) {
    .footer-social {margin: 0;}
}

.footer-social-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
}
@media screen and (min-width:768px) {
    .footer-social-title {text-align: left;}
}

.footer-social-list {
    display: flex;
    gap: 16px;
    justify-content: center;
}

.footer-social .link-social-icon:hover,
.footer-social .link-social-icon:focus {
    background-color: #31D0AA;
}

@media screen and (min-width:1158px) {
    .footer-form {margin-left: auto;}
}

.footer-form-subscribe {
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;}
@media screen and (min-width:768px) {
    .footer-form-subscribe {text-align: left;}
}

.form-inline {display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;}
@media screen and (min-width:768px) {
    .form-inline {
        gap: 24px;
    }
}

.footer-form-input {
    border: 1px solid #fff;
    border-radius: 4px;
    width: 264px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: transparent;
    padding: 8px 16px;
    color: #fff;
    outline: none;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
       }

.footer-form-input::placeholder {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #fff;
}

.footer-form-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 8px 24px;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    background-color: #4d5ae5;
    font-family: "Roboto", sans-serif;font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    cursor: pointer;}

    .svg {margin-left: 16px;}

    /* #endregion footer */

/* #region modal*/

.backdrop-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.is-open {opacity: 1;
    visibility: visible;
    pointer-events: auto;}

.modal {position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 288px;
    min-height: 623px;
    border-radius: 4px;
    border: none;
    padding: 72px 16px 24px;
    background-color: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
     }
@media screen and (min-width: 768px) {
    .modal {max-width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;    }
}

.mod-btn-close {display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #e7e9fc;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.mod-btn-close:hover,
.mod-btn-close:focus {
    background-color: #404BBF;
    border: none;
    }

.svg-close {fill: #2e2f42;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
.mod-btn-close:hover .svg-close {
    fill: #fff;
}
.mod-btn-close:focus .svg-close {
    fill: #fff;
}

.mod-form-title {font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;}

.mod-form-list{
    margin-bottom: 8px;
    }

.mod-form-label {display: block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--label-text-color, #8e8f99);
}

.mod-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
.mod-form-input:focus {
    border-color: #4d5ae5;
}

.mod-form-icons {
    position: relative;
    display: inline-block;
    width: 100%;
}
.form-svg {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mod-form-input:focus + .form-svg {
    fill: #4d5ae5;
}

.form-textarea{margin-bottom: 16px;}

.mod-form-textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mod-form-textarea:focus {border-color: #4d5ae5;}

.form-checkbox {margin-bottom: 24px;}

.visually-hidden {position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;}

.checkbox-label  {font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--label-text-color, #8e8f99);
}

.checkbox-svg {fill: transparent;}

.checkbox-pointer {
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    fill: transparent;}
.checkbox:checked + .checkbox-label .checkbox-pointer{
    background-color: var(--checkbox-active, #404bbf);
    border: none;
    fill: var(--checkbox-icon, #F4F4FD);
        }
.checkbox:checked + .checkbox-label .checkbox-svg {
    fill: #fff;
}

.checkbox-link {display: inline-block;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--checkbox-link, #4d5ae5);}
    
.mod-form-btn {
    display: block;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion modal*/

/* #region mobmenu */
.mobmenu {position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 72px 24px 40px 16px;
    margin: 0 auto;

    background-color: #fff;
    border: 1px solid #8e8f99;}

@media screen and (min-width: 768px){
    .mobmenu {display: none;}
}

.mobmenu {transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: transform 250ms ease-in-out,
    opacity 250ms ease-in-out;}

.mobmenu-is-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.mob-container {height: 100%;
    max-width: 320px;
display: flex;
flex-direction: column;}

.mobmenu-button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid #e7e9fc;
    background-color: transparent;
    }

.mobmenu-nav {display: flex;
    flex-direction: column;
    margin-bottom: auto;
}

.mobmenu-nav-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobmenu-nav-link {font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;}

.mobmenu-contacts-item:not(:last-child){
    margin-bottom: 24px;
}

.mobmenu-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    }

.mob-social-list {display: flex;
gap: 40px;
margin-top: 48px;}

.mob-social-link {display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #404bbf;
    transition: background-color 250ms ease-in-out;
}
.mob-social-link:hover, .mob-social-link:focus {background-color: #2a3294;}

@media screen and (hover:none) and (max-width:768px){
    .mob-social-link:active {
            background-color: #2a3294;
        }
}

.accent {
    color: #404bbf
}
/* #endregion mobmenu */
